{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <h1>About Lake Travis Jiu-Jitsu Club</h1>
    <img class="imgl" src="{% static 'img/about.jpg'  %}" width="300px" />
    <p>Lake Travis Jiu-Jitsu club is a martial arts facility that instills the love of fitness and martial arts to
    people of all ages. Our facility is located
    at <a target="map" href="https://www.google.com/maps/place/13908+Texas+71,+Austin,+TX+78738/@30.309305,-97.960072,17z/data=!3m1!4b1!4m2!3m1!1s0x865b38201a94ac37:0xe3a642cc049788b9">13908 Hwy 71 West</a>,
    right across from the field of dreams on Highway 71.
    </p>
    <p>We have nightly classes in Brazilian Jiu-Jitsu, for children and adults, Mixed Martial arts, and Cardio Kickboxing.
       Come check us out!
    </p>
{% endblock %}