{% extends 'base.html' %}
{% block content %}
<h2>Payments</h2>
<p>To set your tuition payments up, please click the appropriate Pay Now button. This will set up a re-occuring payment
on the 1st of each month through paypal. To cancel your tuition, you can stop the re-occuring payment through paypal
or you can email us at <a href="mailto:laketravisjjc@gmail.com">laketravisjjc@gmail.com</a> and we'll stop it for you.
</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="35AXJA8ZV4GWE">
<p><b>Adult Tuition:</b>$125 billed monthly on the 1st of each month. This includes access to all class offered at LTJJC, including
Brazilian Jiu-Jitsu, Kickboxing, and MMA.</p>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="6NRTF3SP4JSC8">
<p><b>Children's Tuition:</b> $100 billed monthly on the 1st of each month.</p>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<a name="registration"></a>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="HWMRNMFHUCB3G">
<p><b>Registration:</b> One time registration fee of $100. This includes the cost of your GI. Please see the LTJJC staff
to receive your GI.</p><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ABNQS3M6EC8ZC">
<p><b>Kickboxing only registration:</b> One time registration fee for kickboxing only curriculum. This includes the cost of
your LTJJC TShirt and hand wraps.
</p>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<a name="kickboxing"></a>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="9WS2TT3FU3K6N">
<p><b>Kickboxing:</b> $75 monthly to attend kickboxing only classes. See our <a href="classes.html">classes page for times.</a>
</p>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<a name="family_plan"></a>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="KR45D7NZZCH4J">
<p><b>Family Plan:</b> $300 monthly for unlimited classes for the whole family!</p>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<a name="#spring_break"></a>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Q9NX9PTZKX3HU">
<p><b>Spring Break Camp:</b> Daily Spring Break Charges.</p>
<table>
<tr><td><input type="hidden" name="on0" value="Days">Days</td></tr><tr><td><select name="os0">
	<option value="1">1 $40.00 USD</option>
	<option value="2">2 $80.00 USD</option>
	<option value="3">3 $120.00 USD</option>
	<option value="4">4 $160.00 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>



{% endblock %}