{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>Lake Travis Jiu-Jitsu Club</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="google-site-verification" content="gfulWb2xl3-b4RXup-xig44GTunwTTtkbwGdKTODVbc" />
<link rel="stylesheet" href="{% static "styles/layout.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "styles/ltjjc.css" %}" type="text/css" />
<script type="text/javascript" src="{% static "scripts/jquery-1.4.1.min.js" %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.slidepanel.setup.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery.cycle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.cycle.setup.js'%} "></script>
<link rel="SHORTCUT ICON" HREF="{% static 'img/favicon.ico' %}">
{% block head %}{% endblock %}
</head>
<body id="top">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '458596850920584',                        // App ID from the app dashboard
      channelUrl : 'http://www.ltjjc.com/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });
    loadAlbums();
    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="wrapper col0">
  <div style="display: none;" id="topline">
    <ul>
      <li><a href="{% url "classes"%}">Schedule</a></li>
      <li><a href="{% static 'LtjjcEnrollment.pdf' %}">Enrollment Form</a></li>
      <li class="last"><a href="{% url "staff" %}">Instructors</a></li>
    </ul>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="topnav">
      <ul>
        <li><a href="{% url 'merchandise' %}">Merchandise<span>Show your pride!</span></a></li>
        <li><a href="{% url 'account' %}">Account</a><span>Pay your tuition online</span></li>
        <li><a href="{% url 'simplepage' 'about' %}">About<span>about LTJJC</span></a></li>
        <li><a href="{% url "classes"%}">Classes</a><span>class schedule</span>
        <ul><li><a href="{% url 'camps' %}">Camps<span>our summer camps</span></a></li></ul>
        </li>
        <li><a href="{% url 'staff' %}">Staff<span>the LTJJC staff</span></a></li>

      </ul>
    </div>
    <div id="logo">
      <h1><a href="/">
          <strong>L</strong>ake <strong>T</strong>ravis <strong>J</strong>iu <strong>J</strong>itsu <strong>C</strong>lub</a>
      </h1>
      <p>We love this sport.</p>
    </div>
    <br class="clear" />
  </div>
</div>
   {% block featured_slider %}{% endblock %}

<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div class="container">
    <div class="content">
        {% block content %}Page Coming Soon{% endblock %}
    </div>
  {% block right_rail %}
   <div class="column">
      <div class="sponsors">

        <h2>LTJJC action shots...</h2>
        <div class="b_250"><img id="large_action" src="#" alt="" /></div>
        <div class="b_125">
          <ul id="small_action">
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  {% endblock %}
    <br class="clear" />
  </div>
</div>

<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="footer">
    <div class="box1">
      <h2>Spreading the love...</h2>

      <img class="imgl" src="{% static "img/gold.jpg"%}" alt="" />
      <p>LTJJC is dedicated to spreading the knowledge and love
        of Brazilian Jiu-Jitsu to the Bee Cave, Texas area.
      </p>
    </div>
    <div class="box contactdetails">
      <h2>Our Contact Details</h2>
      <ul>
          <li>
              <a title="open map" href="https://www.google.com/maps/dir//Lake+Travis+Jiu-Jitsu+Club,+13908+Texas+71,+Austin,+TX+78738/@30.309305,-97.960072,17z/data=!4m12!1m3!3m2!1s0x0:0x5d067900c3948412!2sLake+Travis+Jiu-Jitsu+Club!4m7!1m0!1m5!1m1!1s0x865b38201a94ac37:0x5d067900c3948412!2m2!1d-97.960072!2d30.309305" target="map">
                  Lake Travis Jiu-Jitsu Club<br />
                  13908 Hwy 71 West<br />
                  Suite B<br />
                  Bee Cave , TX<br/>

              </a></li>
        <li> Tel: (512) 763-0684</li>
        <li><a title="email us" href="mailto:laketravisjjc@gmail.com">Email: laketravisjjc@gmail.com</a></li>
        <li class="last">
           <a href="http://www.facebook.com/laketravisbjj"><img style="width:32px;height:32px;display: inline" src="{% static 'img/facebook_32.png' %}" /></a>
           <a href="https://twitter.com/ltjjc"><img style="display: inline;width:32px;height: 32px" src="{% static 'img/twitter_32.png' %}" /></a>
        </li>
      </ul>
    </div>
    <div class="box flickrbox">
      <h2>Some Facebook Pics</h2>
      <div class="wrap">
        <div class="fix" id='fb_pictures'></div>
        <!--
        <div class="flickr_badge_image" id="flickr_badge_image1"><a href="#"><img src="http://d9nmkm9u8we5o.cloudfront.net/s/img/americana.jpg" style="width:80px;" alt="" /></a></div>
        <div class="fix"></div>-->
      </div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="copyright">
      <div class="fb-like" data-href="http://www.ltjjc.com" data-width="450" data-colorscheme="dark" data-show-faces="true" data-send="true"></div>
      <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">ltjjc.com</a></p>
      <br class="clear" />
  </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    function loadAlbums(){
        //FB.api('/204018879774411/photos',  function(resp) {
        FB.api('/442058485898867/photos',  function(resp) {
            //465588603545855
                        //Log.info('Albums', resp);
                        var ul = document.getElementById('fb_pictures');
                        var images = resp.data;
                        if(!images) {
                            ul.innerHTML = "No images right now!";
                        }
                        var total = Math.min(6,images.length);
                        for (var i=1;i <= total ; i++){
                            var index = Math.floor((Math.random() * images.length));
                            var image = images[index];
                            var template = "<div id='{id}' class='flickr_badge_image'><a target='facebook' href='{link}'><img style='width:80px;' title='{title}' src='{image}' /></a></div>"

                            var id = "flickr_badge_image" + i;
                            var src = image.images[Math.max(0,image.images.length-2)].source;
                            var link = image.link;
                            var title = image.name;
                            ul.innerHTML+= template.replace('{link}',link).replace('{image}',src)
                                    .replace('{title}',title).replace('{id}',id);
                            images.splice(index,1);
                        }
                        ul.innerHTML += "<div class='fix'></div>";
                    });

         FB.api('/441902852581097/photos',  function(resp) {
             var ul = document.getElementById('small_action');
             var images = resp.data;
             if (!images) {
                 ul.innerHTML = "No images right now!";
             }
             var total = Math.min(6, images.length);
             for (var i = 1; i <= total; i++) {
                 var index = Math.floor((Math.random() * images.length));
                 var image = images[index];
                 if(!image) continue;
                 var template = "<li id='{id}' class='flickr_badge_image'><a target='facebook' href='{link}'><img style='width:80px;' title='{title}' src='{image}' /></a></li>"

                 var id = "flickr_badge_image" + i * 5;
                 var src = image.images[Math.max(0, image.images.length - 2)].source;
                 var link = image.link;
                 var title = image.name;
                 ul.innerHTML += template.replace('{link}', link).replace('{image}', src)
                         .replace('{title}', title).replace('{id}', id);
                 images.splice(index, 1);
             }
             image = images[0];
             if(!image) return;
             //document.getElementById('large_action').src = image.images[Math.max(0,image.images.length-2)].source;
             //alert(image.images[Math.max(0, image.images.length - 2)].source);
             document.getElementById('large_action').src = image.images[Math.max(0, image.images.length - 2)].source;
             //$('#large_action').attr(src,image.images[Math.max(0, image.images.length - 2)].source);
         });



    }
    //]]>
</script>
</body>
</html>