{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>Lake Travis Jiu-Jitsu Club</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="google-site-verification" content="gfulWb2xl3-b4RXup-xig44GTunwTTtkbwGdKTODVbc" />
<link rel="stylesheet" href="{% static "styles/layout.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "styles/ltjjc.css" %}" type="text/css" />
<script type="text/javascript" src="{% static "scripts/jquery-1.4.1.min.js" %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.slidepanel.setup.js' %}"></script>
<script type="text/javascript" src="{%  static 'scripts/jquery.cycle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.cycle.setup.js'%} "></script>
<link rel="SHORTCUT ICON" HREF="{% static 'img/favicon.ico' %}">
{% block head %}{% endblock %}
</head>
<body id="top">

<div class="wrapper col0">
  <div style="display: none;" id="topline">
    <ul>
      <li><a href="{% url "classes"%}">Schedule</a></li>
      <li><a href="{% static 'LtjjcEnrollment.pdf' %}">Enrollment Form</a></li>
      <li class="last"><a href="{% url "staff" %}">Instructors</a></li>
    </ul>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="topnav">
      <ul>
        <li><a href="{% url 'merchandise' %}">Merchandise<span>Show your pride!</span></a></li>
        <li><a href="{% url 'account' %}">Account</a><span>Pay your tuition online</span></li>
        <li><a href="{% url 'simplepage' 'about' %}">About<span>about LTJJC</span></a></li>
        <li><a href="{% url "classes"%}">Classes</a><span>class schedule</span></li>
        <li><a href="{% url 'staff' %}">Staff<span>the LTJJC staff</span></a></li>

      </ul>
    </div>
    <div id="logo">
      <h1><a href="/">
          <strong>L</strong>ake <strong>T</strong>ravis <strong>J</strong>iu <strong>J</strong>itsu <strong>C</strong>lub</a>
      </h1>
      <p>We love this sport.</p>
    </div>
    <br class="clear" />
  </div>
</div>
   {% block featured_slider %}{% endblock %}

<!-- ####################################################################################################### -->
<div class="wrapper col3" style="min-height: 550px">
  <div class="container">
    <div class="content">
        {% block content %}Page Coming Soon{% endblock %}
    </div>
  {% block right_rail %}
   <div class="column">
      <div class="sponsors">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flaketravisbjj%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=458596850920584" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <div class="clear"></div>
        </div>
      </div>
    </div>
  {% endblock %}
    <br class="clear" style="" />
  </div>
</div>

<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="footer">
    <div class="box1">
      <h2>Spreading the love...</h2>

      <img class="imgl" src="{% static "img/gold.jpg"%}" alt="" />
      <p>LTJJC is dedicated to spreading the knowledge and love
        of Brazilian Jiu-Jitsu to the Bee Cave and Spicewood, Texas area.
      </p>
    </div>
    <div class="box contactdetails">
      <h2>Our Contact Details</h2>
      <ul>
          <li>
              <a title="open map" href="https://goo.gl/maps/nbK1Uxi77oC2" target="map">
                  Lake Travis Jiu-Jitsu Club<br />
                  21300 Hwy 71 West<br />
                  Suite 200<br />
                  Bee Cave , TX, 78669<br/>

              </a></li>
        <li> Tel: (512) 763-0684</li>
        <li><a title="email us" href="mailto:laketravisjjc@gmail.com">Email: laketravisjjc@gmail.com</a></li>
        <li class="last">
           <a href="http://www.facebook.com/laketravisbjj"><img style="width:32px;height:32px;display: inline" src="{% static 'img/facebook_32.png' %}" /></a>
           <a href="https://twitter.com/ltjjc"><img style="display: inline;width:32px;height: 32px" src="{% static 'img/twitter_32.png' %}" /></a>
        </li>
      </ul>
    </div>
    <!-- 
    <div class="box flickrbox">
      <h2>Some Facebook Pics</h2>
      <div class="wrap">
        <div class="fix" id='fb_pictures'>
            <iframe scrolling="no" marginheight="0" frameborder="0" width="171" style="height: 268px;" src="http://socialgalleria.com/gallery.php?id=441902852581097&display=album&rows=3&margin=10&cols=2&width=75&font_size=11&title_color=000000&hide_next_back=0&share_buttons=1&shape=rectangle&frame=1"></iframe>

        </div>



       
      </div>
      -->
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="copyright">
      <div class="fb-like" data-href="http://www.ltjjc.com" data-width="450" data-colorscheme="dark" data-show-faces="true" data-send="true"></div>
      <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">ltjjc.com</a></p>
      <br class="clear" />
  </div>
</div>
</body>
</html>