{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <img class="imgl" src="{% static 'img/natalie.jpg' %}" width="200px" />
    <h1>Summer Camps</h1>
    <p>Lake Travis Jiu Jitsu Club is proud to announce its summer camp schedule.</p>
    <div>
        <h3>Kids Martial Arts Fun Camp</h3>
        <p>Our Martial Arts Fun Camps are a drop off camp in which children are closely supervised by our highly qualified
        staff and taught basic martial arts skills in the form of easy to understand games. No martial arts experience
        is needed, just the desire to have a lot of fun!
        </p>
        <p>Each camp is divided into 2 sessions. Session one is 9am-11am, Mon-Thu. Session two is 12pm-4pm, Mon-Thu.
        Each session costs $175. Both sessions can be purchased for $325. Current members of LTJJC also receive a 10%
        discount.
        </p>
        <strong>
            Camp 1: June 15th - June 18th<br />
            Camp 2: Jun 29th - July 2nd
        </strong>
    </div>
    <div>
        <h3>Fitness Boot Camp</h3>
        <p>Info coming soon.</p>
        <strong>Camp dates: June 22nd - 25th </strong>
    </div>

{% endblock %}