{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <img class="imgl" src="{% static 'img/kids.jpg' %}" width="200px" />
    <h1>Kids BJJ</h1>
    <p>Brazilian Jiu-Jitsu is an amazing sport for kids of all ages. Besides the obvious physical benefits
    of the physical activity over playing minecraft on an iPad, BJJ teaches kids many valuable life lessons.  Learning
    techniques teaches discipline. Sparring with an opponent teaches a child respect, not only for others,
    but also for himself. BJJ helps children who have difficulty focusing to apply themselves, since it's difficult
    to let your mind wonder when you're sparring. It teaches them that acting out of frustration or anger almost never
    accomplishes anything beneficial.
    </p>
{% endblock %}