{% extends "base.html" %}
{% block head %}
<style type="text/css">

    #schedule tbody tr{
        height: 75px;
    }
    .kickboxing{
        background: #d3222d;
    }
    .adultbjj{
        background: #999999;
    }
    .kidsbjj{
        background: #0ac8c1;
    }
    .MMA{
        background: #000;
        color: #FFF;
    }
    .wrestling{
        background: #660000;
        color:#FFFFFF;
    }
</style>
{% endblock %}
{% block content %}
<h1>Class Schedule</h1>
<table style="width:100%" id="schedule">
    <thead>
        <tr>
            <th>Time</th><th>SU</th><th>MO</th><th>TU</th><th>WE</th><th>TH</th><th>FR</th><th>SA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>7:00am</th>
            <td></td>
            <td class="adultbjj">Adult BJJ</td>
            <td></td>
            <td class="adultbjj">Adult BJJ</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>4:30pm</th>
            <td></td>
            <td></td>
            <td class="kidsbjj" rowspan="2">Kid's BJJ</td>
            <td></td>
            <td rowspan="2" class="kidsbjj">Kids BJJ</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>5:00pm</th>
            <td></td>
            <td rowspan="2" class="wrestling">Kids Wrestling</td>
            <!--Kid's BJJ -->
            <td rowspan="2" class="wrestling">Kids Wrestling</td>
            <!--Kid's BJJ -->
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>5:30pm</th>
            <td></td>
            <!--Kid's Wrestling-->
            <td rowspan="3" class="adultbjj">Adult BJJ</td>
            <!--Kid's Wrestling -->
            <td rowspan="3" class="MMA">MMA - All Ages</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>6:00pm</th>
            <td></td>
            <td class="wrestling" rowspan="3">Wrestling (All Ages)</td>
            <td class="wrestling" rowspan="3">Wrestling (All Ages)</td>
            <td class="adultbjj" rowspan="2">Open Mat</td>
            <td></td>
        </tr>
        <tr>
            <th>6:30pm</th><td></td><td></td>
        </tr>
        <tr>
            <th>6:45pm</th>
            <td></td>
            <td rowspan="2" class="kickboxing">Kickboxing</td>
            <td rowspan="2" class="kickboxing">Kickboxing</td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <th>7:00pm</th>
            <td></td>
            <td class="adultbjj" rowspan="2">Adult BJJ</td>
            <td class="adultbjj" rowspan="2">Adult BJJ</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>7:30pm</th><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr>
            <th>8:00pm</th><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
    </tbody>
</table>



{% endblock %}
