{% extends "base.html" %}
{% block head %}
<style type="text/css">

    #schedule tbody tr{
        height: 75px;
    }
    .kickboxing{
        background: #d3222d;
    }
    .adultbjj{
        background: #999999;
    }
    .kidsbjj{
        background: #0ac8c1;
    }
    .MMA{
        background: #000;
        color: #FFF;
    }
    .wrestling{
        background: #660000;
        color:#FFFFFF;
    }
</style>
{% endblock %}
{% block content %}
<h1>Class Schedule</h1>
<table style="width:100%" id="schedule">
    <thead>
        <tr>
            <th>Time</th><th>SU</th><th>MO</th><th>TU</th><th>WE</th><th>TH</th><th>FR</th><th>SA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>12:00pm</th>
            <td></td>
            <td></td>
            <td class="kickboxing">Cardio kickboxing</td>
            <td></td>
            <td class="kickboxing">Cardio kickboxing</td>
            <td class="kickboxing">Cardio kickboxing</td>
            <td></td>
        </tr>
        <tr>
            <th>1:00pm</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>5:00pm</th>
            <td></td>
            <td class="kidsbjj">Kid's Compeition Training</td>
            <td class="kidsbjj">Kid's BJJ</td>
            <td class="kidsbjj">Kid's Compeition Training</td>
            <td class="kidsbjj">Kids BJJ</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>6:00pm</th>
            <td></td>
            <td class="adultbjj">Adult BJJ</td>
            <td class="adultbjj">Adult BJJ</td>
            <td class="adultbjj">Adult Submission Wrestling</td>
            <td class="adultbjj">Adult BJJ</td>
            <td class="adultbjj">Live Training</td>
            <td></td>
        </tr>
        <tr>
            <th>7:00pm</th>
            <td></td>
            <td class="adultbjj">Live Training</td>
            <td class="wrestling">Wrestling</td>
            <td class="kickboxing">Kickboxing</td>
            <td class="wrestling">Wrestling </td>
            <td class="wrestling">Wrestling</td>
            <td></td>
        </tr>
        <tr>
            <th>8:00pm</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>



{% endblock %}
