{% extends "base.html" %}
{% load staticfiles %}
{% load cropping %}
{% block featured_slider %}
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="featured_slide">
      {% for slide in slides  %}
          <div class="featured_box">
            {% if slide.header %}
            <div class="floater">
                <h2>{{ slide.header }}</h2>
                <p>{{ slide.subtext }}</p>
            </div>
            {% endif %}
            {% if slide.navigate_to %}
            <p class="readmore"><a href="{{ slide.navigate_to }}">Continue reading &raquo;</a></p>
            {% endif %}
            <img src="{% cropped_thumbnail slide 'cropped' width=965%}" alt="{{ slide.header }}" />
          </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
{% block content %}
<div id="topstory">
        <h2>Welcome to Lake Travis Jiu-Jitsu Club</h2>
        <ul>
            <li><img style="height:190px;width: 190px " src="{% static 'img/vbjj.jpg' %}" alt="Bee Cave Jiu-Jitsu" />
                    <p>
                        LTJJC is a proud member of the Vandry Brazilian Jiu-Jitsu Affiliation.
                    </p>
                     <p style="display:none;">Head instructor <a href="{% url "staff_detail" 'ed_aiken' %}">Ed Aiken</a> and Owner Elliott O&apos;Hara have been training under 5th Degree Black Belt
                         William Vandry for over 8 years each.</p>
                    <p class="readmore"><a href="{% url 'simplepage' 'about' %}">Continue Reading &raquo;</a></p>
                  </li>
            <li><img src="{% static 'img/elliott_sparring.jpg' %}" alt="" />
                <p>Come try a free class today!</p>
          </li>
          <li class="last"><img src="{% static 'img/kids_front.jpg' %}" alt="Kids BJJ" width="210px" />
            <p>Brazilian Jiu-Jitsu is an wonderful sport for children. It
                gives them amazing self confidence, and instills a level
                of respect for self and others that is hard to duplicate.
            </p>
              <p class="readmore">
                    <a href="{% url "simplepage" "children" %}">Continue Reading &raquo;</a>
              </p>
          </li>

        </ul>
        <br class="clear" />
</div>
{% endblock %}
