{% extends "base.html" %}
{% block content %}
    <form method="POST">
        <div>
            <textarea name="sql" rows="5" cols="100">{{ sql }}</textarea>
        </div>
        <div>
            <input type="submit" value="GO" />
        </div>
     {% csrf_token %}
    </form>
    <table>
        <thead>
            <tr>
                {%  for header in headers %}
                    <th>{{ header.0 }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}