{% extends "base.html" %}
{% load staticfiles %}
{% load cropping %}
{% block content %}
<h1>Staff</h1>
<p>Lake Travis Brazillian Jiu-Jitsu Club has some of the finest Brazilian Jiu-Jitsu, Mixed Martial Arts, and Fitness
instructors in the Lakeway, Bee Caves and Spicewood area.</p>
<ul id="staff">
    {% for staff_member in staff %}
        <li>
            <a href="{% url 'staff_detail' staff_member.url %}">
            <span>{{ staff_member.name }}</span><span>{{ staff_member.title }}</span>
            <img class="imgl" src="{% cropped_thumbnail staff_member 'cropped' width=120 %}" alt="{{ staff_member.name }}, BJJ instructor" />
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
