<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>Spicewood BJJ</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="http://d9nmkm9u8we5o.cloudfront.net/s/styles/layout.css" type="text/css" />
<script type="text/javascript" src="/s/scripts/jquery-1.4.1.min.js"></script>
<!--
<script type="text/javascript" src="/s/scripts/jquery.slidepanel.setup.js"></script>
<script type="text/javascript" src="/s/scripts/jquery.cycle.min.js"></script>
<script type="text/javascript" src="/s/scripts/jquery.cycle.setup.js"></script>
-->
</head>
<body id="top">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '458596850920584',                        // App ID from the app dashboard
      channelUrl : 'http://www.ltjjc.com/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });
    loadAlbums();
    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<div class="wrapper col0">
  <div style="display: none;" id="topline">
    <ul>
      <li><a href="/classes/">Classes</a></li>
      <li><a href="/schedule/">Schedule</a></li>
      <li><a href="SBJJEnrollment.pdf">Enrollment Form</a></li>
      <li class="last"><a href="instructors.html">Instructors</a></li>
    </ul>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="topnav">
      <ul>
        <li><a href="/schedule/">Classes</a><span>Class Schedule</span></li>
        <li><a href="SBJJEnrollment.pdf">Enrollment Form</a><span>Save time! Fill it out at home.</span></li>
        <li><a href='/about/'>About Us</a><span>About Spicewood BJJ</span></li>
      </ul>
    </div>
    <div id="logo">
      <h1><a href="/"><strong>L</strong>ake <strong>T</strong>ravis <strong>J</strong>iu <strong>J</strong>itsu <strong>C</strong>lub</a></h1>
      <p>I love this sport.</p>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box">
      <!--
        <div class="floater">
        <h2>1. Aliquatjusto quisque nam</h2>
        <p>Orcimagna rhoncus et a nec antesque sed temportor pellus nibh conseque. Accumstsemper wisi pretium feugiat non ut eleifendrerisque at et condisse sce.</p>
      </div>
      <p class="readmore"><a href="#">Continue Reading &raquo;</a></p> -->
      <img src="http://d9nmkm9u8we5o.cloudfront.net/s/img/bn1.jpg" alt="" /> </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div class="container">
    <div class="content">
      <div id="topstory">
        <h2>Welcome to Spicewood BJJ</h2>
        <ul>
            <li><img src="http://d9nmkm9u8we5o.cloudfront.net/s/img/elliottcarloswilliam.jpg" alt="" />
                    <p>
                        Spicewood BJJ is a proud member of the Vandry Brazilian Jiu-Jitsu Affiliation.
                    </p>
                     <p>Head instructor Elliott O'Hara has been training under 4th Degree Black Belt
                         William Vandry for over 5 years.</p>
                    <p class="readmore"><a href="/about/">Continue Reading &raquo;</a></p>
                  </li>
            <li><img src="http://d9nmkm9u8we5o.cloudfront.net/s/img/e_n_b.jpg" alt="" />
                <p>Come try a free class today!</p>
          </li>
          <li class="last"><img src="http://d9nmkm9u8we5o.cloudfront.net/s/img/parker_bow_and_arrow.jpg" alt="" />
            <p>Brazilian Jiu-Jitsu is an wonderful sport for children. It
                gives them amazing self confidence, and instills a level
                of respect for self and others that is hard to duplicate.
            </p>
              <p style="display:none;" class="readmore">
                    <a href="/children/">Continue Reading &raquo;</a>
              </p>
          </li>

        </ul>
        <br class="clear" />
      </div>
     </div>
    <div class="column">
      <div class="sponsors">
        <h2>SBJJ action shots...</h2>
        <div class="b_250"><a href="#"><img src="http://d9nmkm9u8we5o.cloudfront.net/s/img/dominic.jpg" alt="" /></a></div>
        <div class="b_125">
          <ul>
            <li><a href="#"><img src="http://d9nmkm9u8we5o.cloudfront.net/s/img/carlos.jpg" alt="" /></a></li>
            <li><a href="#"><img src="http://d9nmkm9u8we5o.cloudfront.net/s/img/americana_2.jpg" alt="" /></a></li>
            <li class="last"><a href="#"><img src="http://d9nmkm9u8we5o.cloudfront.net/s/img/americana.jpg" alt="" /></a></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="footer">
    <div class="box1">
      <h2>Spreading the love...</h2>

      <img class="imgl" src="http://d9nmkm9u8we5o.cloudfront.net/s/img/gold.jpg" alt="" />
      <p>Spicewood BJJ is dedicated to spreading the knowledge and love
        of Brazilian Jiu-Jitsu to the Spicewood, Texas area.
      </p>
    </div>
    <div class="box contactdetails">
      <h2>Our Contact Details</h2>
      <ul>
        <li>Spicewood BJJ</li>
        <li>22104 Highway 71W<br /> (Leaping for Life Fitness)</li>
        <li>Spicewood, TX</li>
        <li>78669</li>
        <li>Tel: (512) 763-0684</li>
        <li>Email: spicewoodbjj@gmail.com</li>
        <li class="last">
           <a href="http://www.facebook.com/oharabjj"><img style="display: inline" src="http://static.viewbook.com/images/social_icons/facebook_32.png" /></a>
           <a href="https://twitter.com/spicewoodbjj"><img style="display: inline" src="http://static.viewbook.com/images/social_icons/twitter_32.png" /></a>
        </li>
      </ul>
    </div>
    <div class="box flickrbox">
      <h2>Some Facebook Pics</h2>
      <div class="wrap">
        <div class="fix" id='fb_pictures'></div>
        <!--
        <div class="flickr_badge_image" id="flickr_badge_image1"><a href="#"><img src="http://d9nmkm9u8we5o.cloudfront.net/s/img/americana.jpg" style="width:80px;" alt="" /></a></div>
        <div class="fix"></div>-->
      </div>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="copyright">
      <div class="fb-like" data-href="http://www.spicewoodbjj.com" data-width="450" data-colorscheme="dark" data-show-faces="true" data-send="true"></div>
      <p class="fl_left">Copyright &copy; 2013 - All Rights Reserved - <a href="#">SpicewoodBJJ.com</a></p>
      <p class="fl_right">Thanks to <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      <br class="clear" />
  </div>
</div>
<script type="text/javascript">
    function loadAlbums(){
        FB.api('/204018879774411/photos',  function(resp) {
                        //Log.info('Albums', resp);
                        var ul = document.getElementById('fb_pictures');
                        var images = resp.data;
                        if(!images) {
                            ul.innerHTML = "No images right now!";
                        }
                        var total = Math.min(6,images.length);
                        for (var i=1;i <= total ; i++){
                            var index = Math.floor((Math.random() * images.length));
                            var image = images[index];
                            var template = "<div id='{id}' class='flickr_badge_image'><a target='facebook' href='{link}'><img style='width:80px;' title='{title}' src='{image}' /></a></div>"

                            var id = "flickr_badge_image" + i;
                            var src = image.images[Math.max(0,image.images.length-2)].source;
                            var link = image.link;
                            var title = image.name;
                            ul.innerHTML+= template.replace('{link}',link).replace('{image}',src)
                                    .replace('{title}',title).replace('{id}',id);
                            images.splice(index,1);
                        }
                        ul.innerHTML += "<div class='fix'></div>";
                    });
    }
</script>
</body>
</html>
